.category {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 0.3em 0.5em;
	width: 100%;
}

.category label {
	border: 2px solid #333;
	padding: 3px 5px;
	border-radius: 15px;
	text-transform: lowercase;
	font-size: 0.875rem;
	display: flex;
	justify-content: space-around;
	opacity: 0.7;
	cursor: pointer;
}

.category label:hover {
	background-color: #555;
	color: #eee;
}

/* .category button {
	border: 2px solid #333;
	padding: 3px 5px;
	border-radius: 15px;
	text-transform: lowercase;
	font-size: 1.1rem;
}

.category button:hover {
	background-color: #555;
	color: #eee;
} */
